.container {
  margin: 0 50px;
}
.font-thasadith {
  font-family: 'Thasadith', sans-serif;
}
.small-text {
  font-size: 12px;
}
.text-center {
  text-align: center;
}
.font-weight-normal {
  font-weight: normal;
}
.badge {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
}
.card {
  box-shadow: 5px 10px black;
  width: 29%;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
  padding: 0 10px;
  display: inline-table;
}
.intro-header {
  position: absolute;
  top: 20vh;
  right: 35vw;
}
.footer {
  margin-top: 20px;
}
nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
}
nav ul li .brand {
  margin-right: 40px;
}
nav ul li:hover a {
  color: black;
}
nav ul li a {
  text-decoration: none;
  color: #eeeeee;
}
.background-wallpaper img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
}
nav {
  display: inline-block;
}
h1,
h2,
h3 {
  font-weight: 300;
}
.timeline {
  position: relative;
  overflow: auto;
}
.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: #ddd;
  left: 0;
}
.timeline h2 {
  background: #ddd;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
}
.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}
.timeline li:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 1em solid #dddddd;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0;
}
.timeline h3 {
  margin-top: 0;
}
.timeline time {
  font-style: italic;
}
@media screen and (min-width: 40em) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .timeline:before {
    left: 50%;
  }
  .timeline ul {
    padding-left: 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .timeline li {
    width: 42%;
  }
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 2em;
  }
  .timeline li:nth-child(odd) {
    float: left;
  }
  .timeline li:nth-child(odd):before {
    border-top: 1em solid #dddddd;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  .timeline li:nth-of-type(2n + 1) {
    clear: both;
  }
}
